# Raw data (too large for GitHub)
data/raw/

# Parquet files (too large)
artifacts/*.parquet

# Python cache
__pycache__/
*.pyc
*.pyo
.env

# Jupyter temp files
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
